<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to PDF</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Image to PDF</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar" class="btn" />
        <button type="submit" class="btn">Convert</button>
    </form>
    </div>
    
</body>
</html>